.bg-index{
    background: url("/static/img/background.jpg") no-repeat fixed;
    background-size: 100% auto;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.page-content {
    flex: 1;
}

.navbar a.nav-link {
    color: #FFFEF6 !important;
}

.bg-dark {
    background-color: #2E2E2E !important;
}

.ms-footer {
    background-color: #202020;
}

.ms-footer b,
.ms-footer hr {
    color: #ffffff;
    border-color: #3a3a3a;
}

.ms-footer .nav-link {
    color: #7F7F7F;
    padding: 0;
}

.ms-footer p {
    color: #7F7F7F;
    font-size: 13px;
}

.ms-footer a:hover {
    color: #6ab43e;
    text-decoration: none;
}

.ms-footer-bottom span{
    font-size: 13px;
    line-height: 38px;
}

.ms-footer-bottom a {
    color: #6ab43e !important;
    text-decoration: none;
}

.ms-footer-bottom a:hover {
    color: #fff;
}

.img-card-200 {
    width: fit-content;
    max-height: 200px;
}

.img-card-400 {
    width: fit-content;
    max-height: 400px;
}
